<div class="container">
  <div class="title-container">
    <h1>Logs</h1>
  </div>
  <div class="btn-container">
    <button matButton="elevated" (click)="goToRoot('')">Home page</button>
  </div>
  <div class="type-container">
    <mat-form-field>
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="date-container">
    <input matInput [matDatepicker]="dp3" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
    <mat-datepicker #dp3 disabled="false"></mat-datepicker>
  </div>
</div>
